@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


body{
  background: #959b2a;
  background: linear-gradient(90deg,rgba(149, 155, 42, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(14, 118, 130, 1) 100%);
  font-family: "Poppins", sans-serif;
}

.spinner {
  text-align: center;
  color: blue; /* Adjust according to your design */
  font-size: 1.5rem;
  margin: 1rem 0; /* Add some margin */
}

/* Add a duration for the fade-in and fade-out animations */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease, transform 0.8s ease; /* 0.8s duration for both fade and scale/transform */
}

/* Starting state of the new item (before animation starts) */
.fade-enter-from {
  opacity: 0;
  transform: scale(0.95); /* Slightly smaller scale */
}

/* Ending state when an item is removed */
.fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}